.encabezado{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
   width: 2900px;
}
.menu {
    list-style-type: none; /* Elimina los puntos de la lista */
    width: 2900;
  }
 
  .menu li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Ajusta el espacio entre los elementos */
  }
  .menu li img{
    width: 20px;

  }
  .menu2{
    background-color: rgb(236, 232, 232);
     width: 2900;
  }

  .btnmenu2 #compra{
    background-color: orange;
   padding: 10px;
 }

 .btnmenu2 #contacto{
     background-color: rgb(113, 107, 107);
     size: 12 ;
    padding: 10px;

  }
  
  .tarjeta {
    display: grid;
    grid-template-columns: repeat(3, 350px) ;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    width: 1500px;
    
}
.tarjetas{
    border: 1px solid gray;
    text-align: center;
    width: 2900;
}

.tarjetas h3{
    color: orange;
}

.servicios  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btntarjeta #btn{
    background-color: rgb(87, 85, 85);
    padding: 10px ;
}
.frutas_frescas{
    display: grid;
    grid-template-columns: repeat(2,2900px);
}

.inferior{
    display: grid;
    grid-template-columns: repeat(2,2500px);
}

